<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="EjbAdminServiceServiceSoapBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8280/sdi3-37.EJB/AdminService"
                binding="basicHttpBinding" bindingConfiguration="EjbAdminServiceServiceSoapBinding"
                contract="SOAP.AdminService" name="AdminServicePort" />
        </client>
    </system.serviceModel>
</configuration>